<h2>Lasă-ne o recenzie!</h2>

    <div class="form-con">
        <form >
        <input type="text" placeholder="Nume Prenume" name="" id="">
        <input type="tel" placeholder="Telelefon ex.+37369123456">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Mesajul tau">
        <button mat-raised-button color="accent">Trimite</button>
    </form>
    </div>
    <footer>
        <p>Bankcy &copy;2022 <sup>ANA's Design</sup> </p>
        <br>
        <div class="information">
            <mat-icon> email</mat-icon><small><a href="#">Bankcy@mail.md</a></small>

        <mat-icon> call</mat-icon><small><a href="#">+37368594745</a></small></div>
    </footer>
